:root{
    --text-color: #000000;
}
body{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-image: url(https://www.entrelineas.info/media/cache/pub_news_details_large/media/i/51ff3a951bd00.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}
.header{
    background-color: #fff;
    opacity: .8;
    margin: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 4.375em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0;
}

.nav a{
    text-decoration: none;
    color: #000;
}
.logo p{
    font-size: 1.5rem;
    font-weight: 600;
}

.logo p::selection{
    color: #444;
    background-color: #ddd;
}

.nav label{
    font-size: 1.5em;
    cursor: pointer;
}
.nav label, .logo{
    margin: 0 0.625em;
}
.checkbox:checked + .push{
    display: flex;
    top: 3.4375em;
    right: 0.0625em;
}
.checkbox{
    display: none;
}
.push{
    position: absolute;
    background: #fff;
    top: 3.4375em;
    right: -12.5em;
    display: none;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    line-height: 2.1875em;
    padding: 0.625em 1.25em;
}
.bxl-facebook-square:hover{
    color: #1b74e4;
}
.bxl-twitter:hover{
    color: #1d9bf0;
}
.bxl-instagram-alt:hover{
    color: #f5318b;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3.75em;
    z-index: 50;
    height: calc(100vh - 3.75em);
}
.main__container{
    background-color: rgb(92, 48, 0);
    max-width: 43.75em;
    padding: 1.25em 1.875em;
    opacity: .9;
    border-radius: 0.625em;
}
.main p{
    color: #fff;
    font-size: 1.5625em;
    font-weight: 300;
}
.main p::selection{
    color: rgb(92, 48, 0);
    background-color: #fff;
}

@media (max-width: 1024px){
    body{
        font-size: 14px;
    }
}
@media (max-width: 640px){
    body{
        font-size: 12px;
    }
}